body {
  background-color: black;
  color: rgb(208, 206, 231);

}


table {
  background-image: url('Imagens/starwars.jpg');
  border-collapse: collapse;
}

thead {
  background-color: rgba(133, 103, 216, 0.863);

}

td, th {
  border: 2px solid rgba(32, 32, 32, 0.867);
  padding: 10px;
  text-align: center;
}

.input-name {
  background-color: black;
  border: 4px solid rgba(133, 103, 216, 0.863);
  color: white;
  margin-bottom: 20px;
  margin-left: 230px;
  margin-right: 10px;
  width: 200px;

}

.number {
  background-color: black;
  border: 4px solid rgba(133, 103, 216, 0.863);
  color: white;
  margin: 5px;
}

.comparison {
  background-color: black;
  border: 4px solid rgba(133, 103, 216, 0.863);
  color: white;
  margin: 5px;
}

.column {
  background-color: black;
  border: 4px solid rgba(133, 103, 216, 0.863);
  color: whitesmoke;
  margin: 5px;
}

.button {
  background-color: rgba(133, 103, 216, 0.863);
  color: whitesmoke;
}


.titulo {
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
